<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test verbose="2" preserve-order="true" name="Onliner regression tests">
        <classes>
            <class name="apiTests.petStory.PetTests"></class>
            <class name="apiTests.petStory.UsersTest"></class>
            <class name="apiTests.RegresTest"></class>
        </classes>
    </test>
</suite>